body{
  font-family: 'inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #FEFEFF;
}
.kamel{
  background-image: url("./bb.jpeg");
  background-size: 950px 950px;
  background-position: 700px -20px;
  background-repeat: no-repeat;

  
}
.kamel2{
  width: 100%;
  height: 950px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  
}
.contact-container {
  display: flex;
  justify-content: center;

  height: 930px;
  padding-bottom: 20px;

  
}
.form{
  height: 700px;
}

.contact-form {
  flex: 1;
  border: 1px solid #e6e6e6;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  margin-left: 5%;
  margin-right: 0;
  margin-top: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border-right: none;
  
}
.sewomi{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  flex: 1;
 
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
  background-image: url("./sxz.jpg");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #e6e6e6;
  border-left: none;

}
.thead{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
height: 80vh;
}
.thead p{
color: black;
 }
.Address,
.Talk,
.contact{
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  height: 100px;
  margin-top: 20px;
  border-bottom: none;
  width: 80%;
  margin-left: 10%;
  
}
.form-group2{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  height: 100px;
  margin-top: 15px;
  border-bottom: none;
  width: 80%;
  margin-left: 10%;
}
.form-group3{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  height: 100px;
  margin-top: 15px;
  border-bottom: none;
  width: 80%;
  margin-left: 10%;
}
.form-group4{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  height: 250px;
  margin-top: 15px;
  border-bottom: none;
  width: 80%;
  margin-left: 10%;
}
.input1{
  display: flex;
}
.input11,
.input12{
  display: flex;
  border: 1px solid #e6e6e6;
  width: 50%;
  height: 50px;
  padding-left: 10px;
  border-right: none;

}
.input21{
  display: flex;
  border: 1px solid #e6e6e6;
  
  height: 50px;
  padding-left: 10px;
  border-right: none;
}
.input31{
  display: flex;
  border: 1px solid #e6e6e6;
  
  height: 50px;
  padding-left: 10px;
  border-right: none;
}
.input41{
  min-height: 200px;
  display: flex;
  border: 1px solid #e6e6e6;
  
 
  padding-left: 10px;
  border-right: none;
}
.input11,
.input21,
.input31,
.input41{
 border-left: none;
}
.namei{
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}




.sent {
  padding: 10px 20px;
  background-color: #113b12;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.close-button {
  background-color: rgb(255, 120, 120);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid black;
  border-radius: 10px;
}

.sentus{
    width: 100%;
    display: block;
    
    font-size: 30px;
    color: #333;
   font-family:'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
   
}

.axi2{
  width: 70%;
}

.icon1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("location.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust as needed */
}
.icon2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("smartphone.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust as needed */
}
.icon3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("email.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust as needed */
}
.icon4 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("calendar.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust as needed */
}

.justflex{
  display: flex;
  justify-content:center;
  align-items:center;
  font-size: 16px;
}

@media (max-width: 768px) {
  .contact-page {
    /* Adjust styles for smaller screens */
    background-image: none;
    background-position: initial;
    background-size: initial;
    margin-top: 20px;
  }

  .kamel2 {
    /* Adjust height or other styles as needed */
    height: auto;
  }

  .contact-container {
    /* Adjust styles for smaller screens */
    flex-direction: column;
    height: auto;
  }

  .contact-form,
  .contact-info {
    /* Adjust width or other styles as needed */
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-form {
    /* Adjust margin or other styles as needed */
    margin-top: 20px;
    border-radius: 10px;
  }

  .contact-info {
    /* Adjust margin or other styles as needed */
    margin-top: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
